# Inspecting population data

In [1]:
# import libraries
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
# importing population data 
population_df = pd.read_excel('../../data/raw_data/Municipal_populations_2023.xlsx', skiprows=5, skipfooter=11)
population_df.columns = ["MunicipalityNumber", "MunicipalityName", "Population"]
population_df.set_index("MunicipalityName", inplace=True)
population_df.head()

                    MunicipalityNumber  Population
MunicipalityName
Aeugst am Albis                      1        1998
Affoltern am Albis                   2       12859
Bonstetten                           3        5678
Hausen am Albis                      4        3974
Hedingen                             5        3963

# Saving data to clean csv

In [ ]:
#population_df.to_csv("../../data/cleaned_data/population_2023.csv")